.worm-container {
  top: 70vh;
  left: 42%;
}
.worm {
  position: relative;

  &:nth-child(1) {
    z-index: 1;
  }
  &:nth-child(2) {
    z-index: 2;
  }
  &:nth-child(3) {
    z-index: 3;
  }
  &:nth-child(4) {
    z-index: 4;
  }
  &:nth-child(5) {
    z-index: 5;
  }
  &:nth-child(6) {
    z-index: 6;
  }
  &:nth-child(7) {
    z-index: 7;
  }
  &:nth-child(8) {
    z-index: 8;
  }
  &:nth-child(9) {
    z-index: 9;
  }
  &:nth-child(10) {
    z-index: 10;
  }
  &:nth-child(11) {
    z-index: 11;
  }
  &:nth-child(12) {
    z-index: 12;
  }
  &:nth-child(13) {
    z-index: 13;
  }
  &:nth-child(14) {
    z-index: 14;
  }
  &:nth-child(15) {
    z-index: 15;
  }
  &:nth-child(16) {
    z-index: 16;
  }
  &:nth-child(17) {
    z-index: 17;
  }
  &:nth-child(18) {
    z-index: 18;
  }
  &:nth-child(19) {
    z-index: 19;
  }
  &:nth-child(20) {
    z-index: 20;
  }
}
.purple-dot,
.head {
  padding: 0rem 0.59rem;
  background: #f34db4;
  border-radius: 100%;
  border: 1px solid #aa1077;
  &:nth-child(n + 2) {
    margin-left: -35px;
  }
}
.head {
  background: url("../../../img/gusano_cargando.png") no-repeat center;
  background-size: fill;
}

.img-loading {
  top: 15vh;
  right: 20vh;
}
