div.mm-login {
  background-image: url(./../../img/19.png), url(./../../img/back-game.png);
  background-repeat: no-repeat, repeat;
  background-size: 100% 40%, cover;
  background-position: bottom, left;
  border-top: 3px solid #79710b;
  text-align: center;
  position: relative;
}
.mmlogincenterdiv {
  width: 400px;
  margin: auto;
}
.mmtitle {
  font-size: 40px;
}
.mmfirstp {
  font-size: 25px;
  margin: 20px 0;
}
.mmsecondp {
  font-size: 20px;
  margin: 20px 0;
}
.logo-text {
  float: left;
  line-height: 20px;
  margin-left: 20px;
  padding: 10px 0;
}
.logo-img {
  float: left;
}
.mm-connect {
  font-size: small;
}
.mediadiv {
  display: table;
  margin: auto;
  margin-top: 12vh;
}
@media (max-width: 500px) {
  .mmlogincenterdiv {
    width: 350px;
    margin: auto;
  }
  .mmtitle {
    font-size: 35px;
  }
  .mmfirstp {
    font-size: 23px;
    margin: 20px 0;
  }
  .mmsecondp {
    font-size: 18px;
    margin: 20px 0;
  }
}
@media (max-width: 400px) {
  .mmlogincenterdiv {
    width: 300px;
    margin: auto;
  }
  .mmtitle {
    font-size: 32px;
  }
  .mmfirstp {
    font-size: 20px;
    margin: 20px 0;
  }
  .mmsecondp {
    font-size: 15px;
    margin: 20px 0;
  }
}

// form
.create-account-form {
  font-size: 10px;
  color: red;
  & input {
    background: #666666;
    border: 0;
    min-height: 50px;
    border-radius: 0.25rem;
    width: 100%;
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0.35rem;
    &::placeholder {
      color: white;
      font-size: 16px;
      font-weight: bold;
      opacity: 1;
      line-height: 15px;
      vertical-align: text-top;
    }
  }
  & .form-terms {
    color: white;
    font-weight: normal;
    font-size: 14px;
  }
}
