:root {
  --red: #ff161a;
  --purple: #934ba4;
  --blue: #526cf7;
  --bluetitles: #2095c9;
  --statusblue: #081d3e;
  --black: #1a1a1a;
  --blackbox: #2f2e2e;
  --graythinborder: #bdb8b8;
  --labelgray: #666666;
  --grayborder: #ece6e6;
  --borderbtn: #716e70;
  --closered: #ed1c24;
  --coinvalue: #e8f603;
  --yellow: #ecd600;
  --brightyellow: #ffff00;
  --orange: #ef7f40;
  --linkblue: #152846;
  --yellowborder: #b1a203;
  --linear-gradient: linear-gradient(0deg, #ef7f40 0%, #ffe348 100%);
  --linear-gradient-reversed: linear-gradient(180deg, #ef7f40 0%, #ffe348 100%);

  --linear-gradient-cancel: linear-gradient(0deg, #666 0%, black 100%);
  --linear-gradient-cancel-reversed: linear-gradient(
    180deg,
    black 0%,
    #666 100%
  );

  --footerbg: #08050c;
}
