// defaults
:root {
  --padding: 0;
  --font: "open-sans";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: white;
  font-family: var(--font);
  font-size: clamp(22px, 1rem, 30px);
  font-weight: 900;
  font-smooth: always;
}
a {
  text-decoration: none;
  color: white;
  background: transparent;
  &:hover {
    background: -webkit-linear-gradient(
      180deg,
      var(--orange) 0%,
      var(--yellow) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 14px 3px 25px var(--orange), -14px 3px 25px var(--yellow);
    filter: brightness(150%);
  }
}
.fixed {
  position: fixed;
  z-index: 10;
}
.absolute {
  position: absolute;
}
ul {
  list-style: none;
}
nav ul {
  display: flex;
}

.flex-wrapper {
  display: flex;
}
@media (min-width: 1360px) {
  .mobile-only {
    display: none !important;
  }
  .desktop-only {
    display: block;
  }
}
@media (max-width: 1359px) {
  .desktop-only {
    display: none !important;
  }
}
@media (max-width: 761px) {
  .small-and-medium-devices {
    display: block;
  }
  .large-devices {
    display: none !important;
  }
}
@media (min-width: 760px) {
  .small-and-medium-devices {
    display: none !important;
  }
  .large-devices {
    display: block;
  }
}
.w-full {
  width: 100%;
}
.mw-50 {
  max-width: 50%;
}
.pt-1 {
  padding-top: 0.2rem;
}
.mt-1 {
  margin-top: 0.2rem;
}
.my-1 {
  margin: 0.2rem 0;
}
.my-3 {
  margin: 1.5rem 0;
}
@media (max-width: 500px) {
  .sm-my-3 {
    margin: 1.5rem 0;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.ml-auto {
  margin: 0 0 0 auto;
}
.mt-2 {
  margin-top: 0.4rem;
}
.ml-2 {
  margin-left: 0.4rem;
}
.vh-100 {
  min-height: 100vh;
}
.margin-auto {
  margin: auto;
}
.mx-auto {
  margin: 0 auto;
}
video {
  width: 100%;
  height: auto;
}
.direction-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.gap-1 {
  gap: 4px;
}
.mt-n3 {
  margin-top: -3px;
}
.pr-1 {
  padding-right: 0.25rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}
@media (max-width: 768px) {
  .vh-100 {
    min-height: 787px;
  }
}

.grid {
  display: grid;
}
.place-center {
  place-items: center;
  height: 100%;
}
.px-1 {
  padding: 0 1rem;
}
// should be as template, default in every header
.header-right > nav > ul {
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  & > * {
    margin: auto 0.75rem;
  }
}
.text-center {
  text-align: center;
}
.topnav-button {
  border: 0;
  color: white;
  padding: 0;
}
.topnav-area {
  a {
    vertical-align: top;
    background: var(--yellow);
    color: black;
    padding: 0.1rem 0.5rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 20px;
    font-variant-caps: all-small-caps;
    &:hover {
      color: black;
      text-shadow: none;
      -webkit-text-fill-color: unset;
    }
  }
}
@media (max-width: 400px) {
  .px-1 {
    padding: 0 0.1%;
  }
}
// .screenshots {
//   min-height: 613px;
// }
.container {
  max-width: 1366px;
  // padding-left: 3%;
  // padding-right: 3%;
  margin: 0 auto;
  position: relative;
}
.small-container-for-mobiles {
  min-height: 420px !important;
}
@media (min-width: 875px) {
  .small-container-for-mobiles {
    min-height: 670px !important;
  }
}
.py-1 {
  padding: 1rem 0;
}
.hidden {
  display: none;
}
.fix-social {
  position: fixed !important;
  right: 0;
  top: 36vh;
  z-index: 11;
  display: block;
}
// @media (max-width: 365px) {
//   .fix-social {
//     display: none !important;
//   }
// }
.min-vh {
  min-height: 100vh;
}
.m-auto {
  margin: auto;
}
