// fonts
@font-face {
  font-family: "open-sans";
  src: url(../fonts/opensans/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "open-sans";
  src: url(../fonts/opensans/OpenSans-Medium.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "open-sans";
  src: url(../fonts/opensans/OpenSans-Regular.ttf) format("truetype");
  font-weight: 300;
}
